.profile {
  margin: 66px 0 0;
  display: grid;
  grid-template-areas:
    'info picture'
    'links picture';
  gap: 99px 270px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  grid-area: info;
}

.profile__links {
  display: flex;
  gap: 20px;
  grid-area: links;
}

.profile__photo {
  grid-area: picture;
}

@media all and (max-width: 1023px) {
  .profile {
    gap: 87px 49px;
  }

  .profile__photo {
    width: 255px;
  }
}

@media all and (max-width: 719px) {
  .profile {
    margin: 60px 0 0;
    gap: 40px;
    grid-template-areas:
      'picture'
      'info'
      'links';
  }

  .profile__info {
    gap: 20px;
  }

  .profile__links {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    gap: 26px;
  }

  .profile__photo {
    width: 100%;
  }
}
