.section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.section_type_white {
  padding: 110px 70px;
}

.section_type_gray {
  background: #f5f5f5;
  padding: 100px 70px;
}

@media all and (max-width: 1023px) {
  .section_type_white {
    padding: 90px 50px;
  }
  .section_type_gray {
    padding: 90px 50px;
  }
}

@media all and (max-width: 719px) {
  .section_type_white {
    padding: 70px 14px;
  }

  .section_type_gray {
    padding: 70px 14px;
    background: #fff;
  }
}
