.account-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.account-menu__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.account-menu__btn {
  text-decoration: none;
  background: #000000;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
  transition: opacity 0.8s ease;
}

.account-menu__btn:hover {
  opacity: 0.8;
}
